<%- include("partials/header") -%>
<h1>Home</h1>
<p><%= HomeContent %></p>
<% posts.forEach(function(post){ %>
<h1><%= post.Title %></h1>
<span><%= post.Content.substring(0,100)+"..." %></span><a href="post/<%= post.Title %>"</a>Read More</a>
<%  }) %>
<%- include("partials/footer") -%>
